# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:red%40@localhost:5432/core_service_ph?schema=public"
NODE_ENV=development
PORT=8000

DEFAULT_STUDENT_PASS=123456
DEFAULT_FACULTY_PASS=123456##
DEFAULT_ADMIN_PASS=123456

BCRYPT_SALT_ROUNDS=12
JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret
JWT_EXPIRES_IN=1d
JWT_ALGORITHM=HS256
JWT_REFRESH_EXPIRES_IN=90d


# TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJBLTAwMDAzIiwicm9sZSI6ImFkbWluIiwiaWF0IjoxNzA4NTk2ODUxLCJleHAiOjE3MDg2ODMyNTF9.uF3SDaFsYP0r8yg5ui-4QfLS4GWImhqH5_XZhzAY41Y